.Bullet {margin-left: 25px;}
.BulletDoubleIndent {margin-left: 50px;}
	
.P_SingleIndent {margin-left: 25px;}
.P_DoubleIndent {margin-left: 50px;}

.title, .addtitle, .addtitle1, .MsoTitle, .TitleChar
	{font-size:120%;
	font-family:Verdana;
	font-weight:bold;}

.heading1
	{font-size:120%;
	font-family:Verdana;
	font-weight:bold;}

.heading2
	{font-size:115%;
	font-family:Verdana;
	font-weight:bold;}

.heading3
	{font-size:110%;
	font-family:Verdana;
	color:#993366;
	font-weight:bold;}

.heading4, .Heading4Char
	{font-size:105%;
	font-family:Verdana;
	color:#993366;
	font-weight:bold;}
	
.heading4Indent
	{font-size:105%;
	font-family:Verdana;
	color:#993366;
	font-weight:bold;
	margin-left: 25px;}	
	
p,body,li,.regulartext
	{font-size:100%;
	font-family:Arial;
	color:black;
	}

.regulartextbold
	{font-size:100%;
	font-family:Arial;
	color:black;
	font-weight:bold;}

.regulartextChar	
{font-size:1em;
	font-family:Arial;
	color:black;}

table td
	{padding: 5px 5px 5px 5px;}

table
	{margin-top: 5px; margin-bottom: 5px}